@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@200&family=Unbounded:wght@200&display=swap');

.alert-ad{
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    margin: auto;
    justify-content: center;
    background-color: #00FFA3;
    .text{
        margin: auto;
        color: white;
        width: 50%;
        scale: 85%;
        h1{
            font-weight: bold;
        }
    }
    .alert-btn{
        all: unset;
        padding: 1rem 3rem;
        font-size: 1rem;
        text-align: center;
        background-color: white;
        color: black;
        font-weight: bold;
        margin-top: 1rem;
        border-radius: .7rem;

        &:hover{
            background-color: #000000;
            color: white;
            cursor: pointer;
        }
    }
    img{
        margin: auto;
        width: 18%;
        height: max-content;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:800px) {
    .alert-ad{
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 2rem;
        .text{
            width: auto;
        }
        img{
            width:45%;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
}