@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@200&family=Unbounded:wght@200&display=swap');

#title-stand{
    color: #134537;
    font-weight: bold;
    padding-left: 3rem;
    padding-top: 2rem;
    background-color: #d5f0eb;
    margin-top: -2%;
}

.card-box{
    background-color: #d5f0eb;
    display: flex;
    justify-content: center;
    
   margin-top: -3%;
    h2{
        color: white;
        margin-top: 2rem;
    }
    .card{
        width:26%;
        height: 5rem;
        height: fit-content;
        padding: 1.4rem;
        margin: 4.4rem;
       
        margin-right: 0;
        margin-left: 1rem;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        padding-left: 2.8rem;
        max-height: 19rem;
        backdrop-filter: blur(.5rem);

        h1{
            font-size: 1.5rem;
            font-weight: 800;
            color: #09c08c;
        }

        h4{
            font-size: .8rem;
            color: rgb(76, 155, 132);
            font-weight: 300;
        }


        background: #027461;
            color: rgb(255, 255, 255);
            h1{
                color: rgb(253, 255, 254);
            }
            h4{
                color: #d5f0eb;
            }
        .img1{
            width:40%;
        }
        .img2{
            width:35%
        }
        img{
            width: 65%;
            padding: .3rem;
        }
        .img3{
            width:32%;
        }

        &:hover{
           h1, h4{
                color: #707070;
            }
            background: #ffffffbf;
            color: rgb(41, 41, 41);
            cursor: pointer;
        }
    }
}

@media screen and (max-width:800px) {


    .card-box{
        flex-direction: column;
        .card{
            margin: auto;
            margin-bottom: 1.5rem;
            width: 85%;
            margin-top: 1.5rem;
            scale: 95%;
            .img1{
                width:50%;
                padding: .5rem;
            }

            .img2{
                width:40%
            }
            img{
                width:35%;
            }
            .img3{
               width:38% 
            }
           
        }
    }
}

@media screen and (max-width:800px) {
    .card-box{
        flex-direction: column;
        margin-top: -10%;}
}

@media screen and (max-width:800px) {
    #title-stand{
        font-size: 1.4rem;
       padding: 4%;
       padding-left: 7%;
        margin-top: 61%;}
}

@media screen and (max-width:560px) {
    #title-stand{
        font-size: 1.4rem;
       padding: 4%;
       padding-left: 7%;
        margin-top: 93%;}
}

@media screen and (max-width:360px) {
    #title-stand{
        font-size: 1.3rem;
       padding: 4%;
       padding-left: 7%;
        margin-top: 183%;
    margin-bottom: -1%;}
}