@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@200&family=Unbounded:wght@200&display=swap');


.emergency-component{
    background: rgb(0, 0, 0);
    padding-bottom: 2rem;
    padding: 4%;
    padding-bottom: 6%;
    cursor: pointer;

    h3{
        margin-left: 1.2rem;
        margin-right: 1.2rem;
        font-size: 1.2rem;
        color: rgba(251, 251, 251, 0.523);
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    
    h1{
        margin: auto;
        margin-left: 1.2rem;
        color: #069f60;
    }

    h6{
        margin-left: 1.2rem;
        margin-top: 2%;
        color: #ffffff;
        font-size: 2.5rem;
    }

    .contact{
        display: flex;
        background-color: #ffffff;
        box-shadow: rgba(255, 255, 255, 0.232) 0px 4px 20px 0px;
        color: rgb(0, 0, 0);
        margin: 1.2rem;
        padding: 2rem 4rem;
        border-radius: .8rem;
        // &:hover{
        //     background-color: #146749;
        //     color: #ffffff;
        // }
        .details{
            width: 70%;
        }
       
        .button-set{
            display: flex;
            text-align: center;
            width: 20%;
        }
    }
    
#del-button{
    background: #13b054;
    width: 92%;
    border: none;
    font-family: 'Poppins',sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-top: 1rem;

    &:hover{
        background: #232323;
    }
}

    #align{
    margin: auto;
    background: #1c8aea;
    width: 97%;

    margin: auto;
    margin-left: 1.2rem;
    margin-top: 1rem;
    border: none;
   
    font-size: 1.4rem;
   
    padding: 1rem;
    

    &:hover{
        background: #232323;
    }
    }

    #btn-add{
        background-color: #019f68;
        color: rgb(255, 255, 255);
        border: 0ch;
        margin-left: 1.2rem;
        padding: 1.2rem 5rem;
        font-size: 1.5rem;
        width: 97%;

        &:hover{
            background-color: #146749;
        }
    }
}

@media screen and (max-width:600px) {

  

    .emergency-component{
        #align{
            width: 90%;
            font-size: 1rem;
            margin-bottom: 1rem;
            background: #1c8aea;
        }

        h3{
            font-size: 1rem;
        }
        padding: 0%;
    #btn-add{
        width: 90%;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .contact{
        flex-direction: column;
        .details{
            width: 100%;
        }
        .button-set{
            width: 80%;
        }
    }
    }
}