
/*======================
    404 page
=======================*/



.page_404 div{
    background-color: #fff;
    margin: auto;
}
.page_404{ padding:20px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_four_bg{
 
 background-image: url(https://em-content.zobj.net/thumbs/160/joypixels/340/cross-mark_274c.png);
    height: 25rem;
    background-position: center;
    margin-bottom: 1rem;
    background-repeat: no-repeat;
 }
 
 
 .four_zero_four_bg h1{
  
 font-size:8rem;
 font-weight: bolder;
 }
 
  .four_zero_four_bg h3{
			 font-size:1.5rem;
             font-weight: bolder;
             margin-top: -8rem;
			 }
			 
.link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    border-radius: .8rem;
    background: #31ac81;
    &:hover{
        background-color: black;
    }
    display: inline-block;}

  