@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@200&family=Unbounded:wght@200&display=swap');

$bluex:#000000;


#modal-text{
    color: #000000;
    font-family: sans-serif;
}
.username{
    color: white;
    margin: 1rem;
    font-size: .9rem;
    cursor: pointer;
}

#sidebar{
    font-family: 'Poppins',sans-serif;
    background-color: #d5d5d5;
    color: rgb(33, 33, 33);
    
    h4{
        font-size: 1.5rem;
    }
    h5{
        font-size: 1rem;
    }
}

.profile{
    width: 3rem;
    height: 3rem;
    margin: .2em;
    margin-right: .5rem;
    border-radius: 2rem;
    
    cursor: pointer;
    color: white;
}

*{
    font-family: 'Unbounded',sans-serif;
}

.link{
    list-style: none;
    text-decoration: none;
}
.custom-nav{
    width: 100%;
    background-color: #000000;
 
}
.container{
   
    width: 100%;
    background-color: #000000;
    filter: blur(50%);
    box-shadow: rgba(162, 159, 159, 0.049) 0px 7px 29px 0px;
}

.logo{
    width:100%;
    margin: auto;
    padding-top: 1rem;
}

.nav-hold{
   width:100%;
   justify-content: right;
}


.nav-link{
    all: unset;
    color: #000000;
    font-size: 1rem; 
    font-weight: 300;
    margin-top: auto;  
    margin-bottom: auto;
    margin-right: .5em;
}


.nav-link:hover{
    color: rgb(255, 255, 255);
    font-weight: 700;
    background-color: #2d9dff6a;
    border-radius: .3rem;
    cursor: pointer;
}



.btn-contact{
    all: unset;
    background-color:$bluex ;
    padding: .4rem 2rem;
    font-size: 1.2rem;
    border-radius: 12px;
    border: 2px solid #00FFA3;
    color: #00FFA3;
    font-weight: bold;
    text-align: center;
    margin: .2rem;
    text-shadow: 1px 1px #ffffff6c;
    &:active{
        background-color: rgb(165, 165, 165);
    }
}

.btn-contact:hover{
    background-color:#222222;
    color: rgb(255, 255, 255);
}


.me-auto{
    text-align: center;
    margin: auto;
    justify-self: center;
}



.n{
    color: aliceblue;
    background-color: rgb(255, 255, 255);
    max-width:2.3em;
    display: flex;
    align-self: center;
    border-radius: 10%;
    border: none;
}
.n:hover{
    background-color: #cccccc;
    color: white;
}

@media screen and (max-width:1020px) {
    .profile{
        margin: auto;
    }
    .username{
        margin: 1.5rem;
    }
    .container{
        width: 100%;
        margin-top: -.5srem;
    }
    .link{
        margin: 1rem;
        font-size: 1.1rem;
    }

    .btn-contact{
        font-size: 1rem;
    }
}

@media screen and (max-width:480px){
    .profile{
        margin: auto;
    }
    .btn-contact{
        padding: .6rem 1.2rem;
    }
    .container{
        width: 120%;
        display: block;
      
        
    }

    .username{ display: none;}
    .n{
        margin-left: 80%;
        width:20%;
        padding: auto;
        margin-top: -14%;
    }
    
}