

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@200&family=Unbounded:wght@200&display=swap');


.search-holder{
    height: 32rem;
    
}

.search-top{
    overflow-x: hidden;
    
    .search-img{
        margin: auto;
        width: 100%;
        height: 80%
     
    }
}

.search-bottom{
    
    margin-top: -30%;
    .search-text{
        font-family: 'Unbounded',sans-serif;
        margin: auto;
        text-align: center;
        color: #ffffff;
        font-weight: bolder;
    }
    
    .form-holder{
        margin: auto;
        max-width: 1080px;
        margin-top: 5em;
        
        display: flex;
        justify-content: center;
        border: none;
        .phold{
            font-family: 'Poppins', sans-serif;
            padding: 1rem max(5rem);
            font-size: 1.1rem;
            border-radius: .4rem;
            margin: .3rem;
            border: none;
            font-weight: bolder;
            font-family: 'Unbounded',sans-serif;
            font-size: 96%;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        }
        
        .search-btn{
            padding: 1.1rem max(3rem);
            font-size: 1rem;
            border-radius: .4rem;
            margin: .3rem;
    
            color: white;
            
            background-color: black;
            border: none;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            &:hover{
                background-color: #177251;
            }
        }
    }
    
}


@media screen and (max-width: 800px){
    .search-holder{
        margin-bottom:0%;
    
    .search-top{
        .search-img{
         zoom: 100%;
         width: fit-content;
         height: 20%;
         margin-left: -90%;
        }
    }

    .search-bottom{
        margin-top: -45%;
        font-family: 'Unbounded',sans-serif;
        font-size: 96%;
        .form-holder{
            flex-direction: column;
            margin: 1rem;
            .auto{
                margin-left: 10%;
            }
            .search-btn{
                margin-left: 4%;
            }
        }

        .mapbox{
            margin-top: -100rem;
        }
    }


}
}

@media screen and (max-width: 500px) {

    .search-holder{
        .search-top{
            .search-img{
             zoom: 100%;
             width: fit-content;
            
            }
        }
    
        .search-bottom{
            display: flex;
            margin-top: -100%;
            flex-direction: column;
            font-family: 'Unbounded',sans-serif;
            font-size: 96%;
            
            .mapbox{
                margin-top: 5px;
                padding-top: 0px;
            }
        }
    }
   
  
  
}

@media screen and (max-width:900px) {
    .form-holder{
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .phold{
            width: 90%;
        }
        .search-btn{
            width: 90%;
        }
    }
}




.ride-results{
    background-color: #003830;
    border: 1px solid rgb(3, 62, 53);
    padding: 2rem;
    width: 100%;
    margin: auto;
    margin-top: -2%;
    font-family: 'Poppins', sans-serif;

    .ride-head{
       display: flex;
       justify-content: space-between;
       align-items: center;
        h2{
            align-items: center;
            font-weight: 600;
            color: white;
        }


        #dropdown-basic-button{
            font-family: 'Poppins', sans-serif;
            align-self: center;
            background-color: #005b39;
            padding: 1rem 4rem;
            border: #ffffff;
        }
        
       
    }
}



.card-results{
    
    background-color: #072a1d4c;
    
    .gridbox{
        background-color: #ffffff00;
        width: 100%;
    }
    .gridrow{
     background-color: rgba(255, 0, 0, 0);
    }

    .gridcol{
        background-color: rgba(0, 115, 255, 0);
        
    }
    

 .ride-card{
                background-color: rgb(40, 40, 40);
                width:23rem;
              
                border-radius: 1rem;
                padding: 2rem;
                margin: auto;
                margin-top: 1rem;
                margin-bottom: 1rem;
                
                font-family: 'Poppins',sans-serif;
                #loc{
                    color: white;
                    font-weight: bolder;
                    font-size: 2rem;
                }

                #dis{
                    color: #00FFA3;
                    font-size: .8rem;
                }
                .line{
                    background-color: #00FFA3;
                    height: .1rem;
                }
                #name{
                    color: white;
                    font-weight:bolder;
                    font-family: 'Poppins',sans-serif;
                    font-size: 1.6rem;
                    margin-top: 1rem;
                    
                }

                .type{
                    color: #ffffff;
                    font-family: 'Poppins',sans-serif;
                    font-size: .8rem;
                    font-weight: bold;
                }

                #type{
                    color: #00FFA3;
                    font-family: 'Poppins',sans-serif;
                    font-size: 1rem;
                    font-weight: bold;
                }

                #seat{
                    font-size: 1rem;
                    color: white;
                    font-weight: bolder;

                }

                #cost{
                    color: #ffffff;
                    font-size: .8rem;
                }

                #realcost{
                    color: #00FFA3;
                    font-weight: bolder;
                    font-size: 1rem;
                }
                .ride-join{
                    background-color: #31d096;
                    font-size: 1.3rem;
                    font-weight: bolder;
                    text-align: center;
                    font-family: 'Poppins';
                    padding: .5rem 8rem;
                    margin: auto;
                    color: rgb(255, 255, 255);
                    border-radius: 1rem;
                    margin-left: .3rem;
                    border: none;

                    &:hover{
                        background-color: #ffffff;
                        color: rgb(48, 47, 47);
                    }
                }
            }

            display: flex;
            justify-content: center;
            justify-self: center;
            align-items: center;
            align-self: center;
}




@media screen and (max-width:800px) {
    .auto{
        margin-left: 2rem;
        width: 100%;
    }
    .ride-results{
        margin-top: .2rem;
    }
    .ride-head{
        margin-top: 0px;
        h2{
            font-size: 2.5rem;
        }
        flex-direction: column;
        #dropdown-basic-button{
            margin:1rem;
        }
    }


   
}


.test{
    color: #ffffff;
    font-size: 2rem;
}



.hide{
    display: none;
}

// Maps

.mapbox{
    width: 100%;
    margin: auto;
    margin-top: -8rem;
   background-color: #005b39;
   padding: .5rem;
    .gmap{
        margin: auto;
        border-radius: 10rem;
    }
}