body{
    background-color: black;
}
.search-top{
    overflow-x: hidden;
    .search-img{
        margin: auto;
        width: 100%;
        z-index: -100;
     
    }
}

.search-bottom{
    
    margin-top: -30%;
    .search-text{
        margin: auto;
        text-align: center;
        color: white;
        font-weight: bolder;
    }
    
    .form-holder{
        margin: auto;
        margin-top: 10em;
        
        display: flex;
        justify-content: center;
        border: none;
        .phold{
            padding: 1rem 5rem;
            font-size: 1.1rem;
            border-radius: .4rem;
            margin: .3rem;
            border: none;
        }
        
        .search-btn{
            padding: 1.1rem 3rem;
            font-size: 1rem;
            border-radius: .4rem;
            margin: .3rem;
    
            color: white;
            background-color: #00FFA3;
            border: none;

            &:hover{
                background-color: black;
            }
        }
    }
    
}


@media screen and (max-width: 800px){
    .search-top{
        .search-img{
         zoom: 100%;
         width: fit-content;
         margin-left: -30%;
        }
    }

    .search-bottom{
        margin-top: -50%;
        .form-holder{
            flex-direction: column;
            margin: 1rem;
        }

    }
}

@media screen and (max-width: 500px){
    .search-top{
        .search-img{
         zoom: 100%;
         width: fit-content;
         margin-left: -140%;
        }
    }

    .search-bottom{
        display: flex;
        justify-content: center;
        flex-direction: column;

        margin-top: -100%;
    }
  
}