body{
    background-color: #00FFA3;
    margin-left: auto
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@200&family=Unbounded:wght@200&display=swap');
.search-holder{
    background-color: #32323200;
    margin: auto;
    margin: auto;
}

.search-top{
    background-color: #32323200;
    overflow-x: hidden;
    .search-img{
        margin: auto;
        width: 100%;
        z-index: -100;
        
    }
}

.search-bottom{
    background-color: #32323200;
    margin-top: -30%;   
    .search-text{
        
        margin: auto;
        margin-top: 5%;
        text-align: center;
        color: #ffffff;
        font-weight: bolder;
    }
    
    .card-holder{
        margin-top: 7%;
        margin-bottom: 7%;
        display: flex;
        justify-content: center;
        z-index: 0;
        .search-card{
            box-shadow: rgba(0, 0, 0, 0.542) 0px 7px 29px 0px;
            margin: 1.5rem;
            margin-bottom: 2rem;
            cursor: pointer;
            h1{
                font-size: 2rem;
                color: #43E383;
            }

            h4{
                font-size: 1rem;
                color: #989898;
            }
            
            background: rgb(13, 13, 13);
            padding: 2rem 3.2rem;
            border-radius: 1rem;

            .go-btn{
                all: unset;
                background-color: #ffffff;
                color: rgb(6, 118, 100);
                padding: .4rem 2.9rem;
                text-align: center;
                font-weight: bolder;
                border-radius: 1rem;
                margin-left: -.4rem;
                &:hover{
                    background-color: #43E383;
                }
            }
        }
    }
    
}


@media screen and (max-width: 800px){
    .search-holder{
        margin-bottom: 20%;
        .search-top{
            .search-img{
             height: 60vh;
             margin-left: -150%;
            }
        }
       
        .search-bottom{
            margin-top: -65%;
           .card-holder{
            flex-direction: column;
            .search-card{
                h1{
                    font-size: 1.2rem;
                }
                h4{
                    font-size: .7rem;
                }

                .go-btn{
                    margin-left: -3.9%;
                }
            }
           }
    
        }
    }
   
}

@media screen and (max-width: 500px) {

    .search-holder{
        margin-bottom: 20%;
        .search-top{
       
            .search-img{
             zoom: 100%;
             width: fit-content;
             margin-left: -200%;
             
            }
        }
    
        .search-bottom{
            display: flex;
            justify-content: center;
            flex-direction: column;
    
            margin-top: -100%;
            .search-card{
                .go-btn{
                    margin-left: -6rem;
                }
            }
        }

      
    }
   
 
  
}

@media screen and (max-width:320px) {
  
  .search-holder{
    margin-bottom: 20%;

    .search-top{
       
        .search-img{
            height: 95vh;
        }
      }
      .search-bottom{
        margin-top: -350%;
      }
  }
}

