*{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@200&family=Unbounded:wght@200&display=swap');

body{
    background-color: black;
    max-width: 1600px;
    margin: auto;
}